@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    background: rgba(189, 156, 105, 0.4);
    height: 80px;
    color: #000;
}

.nav-container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: 900;
}

.nav-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav-item {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav-item::after {
    content: "";
    display: block;
    background: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;

}

.nav-item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.nav-label,
.nav-input {
    display: none;
}

@media (max-width: 700px) {

    .nav-label {
        display: block;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background: rgb(189, 166, 132);
        width: 50vw;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        transition: clip-path .5s ease-in-out;

    }

    .nav-input:checked+.nav-menu {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        ;
    }


}